.landing-content {
    padding: 25rem 0 35rem 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: max-content;
    margin: 0;
}

.landing-content__img {
    width: 30rem;
    height: auto;
    align-self: center;
}
