.project-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    color: white;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;
}

.project-wrapper:hover {
    border: 1px solid $yellow;
    transform: scale(1.05);
    z-index: 1;
}

.project-img {
    background-size: cover;
    width: 30rem;
    height: 18rem;
}

.project-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $dark-gray;
    opacity: 0%;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s;
}

.project-overlay:hover {
    opacity: 90%;
}

.project-title {
    position: relative;
    top: 10%;
    padding-bottom: 0;
}

.project-tech {
    position: relative;
}

.project-view {
    position: relative;
    top: 15%;
    width: 30%;
    background: $yellow;
    border: none;
    color: $dark-gray;
    padding: $xs-size;
    border: 1px solid $yellow;
    opacity: 120%;
}

.project-view:hover {
    background: none;
    color: $yellow;
    border: 1px solid $yellow;
}

//Modal Styling

.modal-content {
    display: flex;
    flex-direction: column;
    width: 60rem;
    height: 70rem;
}

.modal-img-wrapper {
    position: relative;
    width: inherit;
    height: 35rem;
}

.modal-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.modal-img-buttons {
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.modal-img-buttons img {
    width: $l-size;
}

.modal-wrapper {
    padding: 0;
}

.modal-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    width: inherit;
    height: auto;
    align-items: baseline;
    background-color: $light-gray;
}

.modal-title {
    margin: 0;
    color: white;
    background-color: $dark-gray;
    padding: $xs-size $m-size $xs-size $m-size;
}

.modal-stack {
    margin: 0;
    color: $dark-gray;
    padding: $xs-size $m-size $xs-size $m-size;
}

.modal-body-wrapper {
    padding: $m-size;
}

.github-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 $m-size;
}

.github-icon {
    width: $xxl-size;
    align-self: center;
    padding-right: $s-size;
}

#test {
    background: $dark-gray  ;
}