//colour variables
$dark-gray: #4A4A4A;
$light-gray: #D8D8D8;
$yellow: #F5A623;
$yellow-alt: #F6A535;
$green: #0F5A5A;


//spacing variables
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;


//font style variables
$title-font: 'Roboto-slab', sans-serif;
$body-font: 'Montserrat', sans-serif;

//device variables
$desktop-breakpoint: 45rem;