.contact-content {
    padding: 15rem 10rem;
    background-color: $off-white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title__wrapper {
    display: flex;
    padding-bottom: $l-size;
}

.contact-title__highlight {
    color: $yellow;
    padding-left: $xs-size;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 4px;
    border: 1px solid $light-gray;
    margin: $xs-size;
    padding: $xs-size;
    font-size: $m-size;
    font-family: $body-font;
    text-align: center;
}

input:focus {
    outline: 1px solid $yellow;
}

.contact-form__message {
    width: inherit;
    height: 10rem;
}

.contact-form__submit {
    align-self: center;
    background-color: $green;
    border: none;
    border-bottom: 2px solid $dark-gray;
    border-radius: 4px;
    color: white;
    font-family: $body-font;
    font-size: $m-size;
    width: min-content;
    padding: $s-size;
    margin: $s-size 0;
}