.contact-section {
    padding: 15rem 10rem;
    background-color: $off-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 55vh;
    max-height: 55vh;
}

.contact-title__wrapper {
    display: flex;
    padding-bottom: $xl-size;
}

.contact-title__highlight {
    color: $yellow;
    padding-left: $xs-size;
}

.contact__social-wrapper {
    padding: 0;
}

.contact__title {
    margin-bottom: 0;
}

.contact__social-link {
    width: 7rem;
    padding: 0 $xs-size;
}

.contact-form {
    display: none;
}

@media (min-width: 2160) {
    
    .contact-form {
        display: flex;
        flex-direction: column;
    }

    input, textarea {
        border: 1px solid $light-gray;
        margin: $xs-size;
        padding: $xs-size;
        font-size: $m-size;
        font-family: $body-font;
    }

    input:focus, textarea:focus {
        outline: 1px solid $yellow;
    }

    .contact-form__message {
        resize: none;
        height: 10rem;
    }

    .contact-form__submit {
        align-self: center;
        background-color: $dark-gray;
        border: 1px solid $dark-gray;
        outline: none;
        color: white;
        font-family: $body-font;
        font-size: $m-size;
        width: 50%;
        padding: $s-size;
        margin: $s-size;
        transition: all 0.2s ease-in-out;
    }

    .contact-form__submit:hover {
        color: none;
        background: $yellow;
        border: 1px solid $yellow;
        width: 98%;
    }

    .feedback__message {
        color: $yellow;
    }
}