.header {
    padding-bottom: $xs-size;
    border-bottom: 1px solid $yellow;
}

.header__container, .header__title-section, .header__content-section,
.header__content-section__site-link-wrapper, .header__content-section__social-link-wrapper, 
.header__content-section__social-link-wrapper
{
    display: flex;
    flex-direction: row;
}

.header__container {
    justify-content: space-between;
    align-items: center;
}

/////////// TITLE SECTION

.header__title-section__text {
    font-family: $title-font;
}

.header__title-section__title {
    margin: 0;
    font-weight: 400;
    font-size: $xl-size;
}

.header__title-section__subtitle {
    margin: 0;
    font-weight: 100;
    font-size: $s-size;
    letter-spacing: $xs-size;
    color: $light-gray;
}

.header__title-section__logo {
    width: 5rem;
    height: 5rem;
    align-self: center;
}


////////// CONTENT SECTION

.header__content-section__site-link-wrapper a, .header__content-section__social-link-wrapper a {
    padding: $s-size;
}

.header__content-section {
    display: flex;
    justify-content: space-around;
}

.header__content-section__site-link-wrapper {
    padding: 0 $l-size;
    align-items: center;
}

.header__content-section__site-link {
    text-decoration: none;
    color: $dark-gray;
}

.header__content-section__site-link:active {
    color: $yellow;
}

.social-link-icon {
    width: $l-size;    
}