.home-content {
    padding: 22rem 20rem 22rem 20rem;
    display: flex;
    flex-direction: row;
}


//Text block styling
.home-content__text-block__title__wrapper {
    display: flex;
    flex-direction: row;
}

.home-content__text-block__title-highlight {
    padding-left: $xs-size;
    color: $yellow;
}


//Skill section styling
.skill-wrapper {
    padding-right: $xxl-size;
    padding-top: $l-size;
    text-align: center;
    width: 95%;
}

.skill-bar {
    display: flex;
    flex-direction: row;
    margin-top: $m-size;
}

.skill-bar__title {
    color: white;
    background: $dark-gray;
    padding: $xs-size 0;
    width: 15%
}

.skill-bar__fill {
    background: $yellow;
}

.css-percent, .html-percent {
    width: 80%;
}

.react-percent, .js-percent {
    width: 65%;
}

.node-percent {
    width: 50%;
}

.skill-bar__empty {
    background: $light-gray;
    flex-grow: 3;   
}

.skill-bar__percent {
    background: $light-gray;
    text-align: center;
    padding: $xs-size;
    width: 5%;
}

//Image Styling
.home-content__image {
    padding-top: $xxl-size;
    width: 45%;
    height: 45%;
}

