.projects-content {
    padding: 12rem 10rem;
    background-color: $off-white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-content__featured {
    text-align: center;
    padding-bottom: $l-size;
}

.projects-content__featured__title-wrapper {
    padding-bottom: $m-size;
}

.projects-content__featured__projects-wrapper {
    display: flex;
    align-items: center;
    padding: $m-size 0;
    height: 20rem;
}

.projects-content__featured__project__spotlight {
    width: 32.5rem;
    height: 20rem;
    border-radius: 4px;
}

.projects-content__heap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-content__heap__title-wrapper, .projects-content__featured__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-content__heap__title {
    padding-right: $xs-size;
}

.projects-content__heap__title-highlight {
    color: $yellow;
}
.projects-content__heap__search-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects-content__heap__search-bar {
    display: flex;
    align-items: center;
    width: 15%;
    transition: width 0.4s ease-in-out;
    padding: $xs-size 0;
    text-align: center;
}

.not-found {
    border: 1px solid red;
}

.projects-content__heap__search-bar:focus {
    width: 30%;
    content: none;
}

//CAROUSEL STYLING

.carousel__wrapper {
    padding: $l-size 0 $m-size 0 ;
    width: 70vw;
    min-width: 70vw;
}

.search-bar__feedback__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    min-width: 70vw;
    min-height: 16vw;
    max-height: 16vw;
}

.brainhubCarousel {
    display: flex; 
    align-items: space-between;
}


//CUSTOM ARROW STYLING
.arrow__wrapper, .arrow-disabled__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: $yellow;
    border: 1px solid $yellow;
    width: 4rem;
    height: 21.8rem;
    cursor: pointer;
    color: $off-white;
}

.arrow__wrapper:hover {
    background: none;
    color: $yellow;
}

.arrow__text {
    font-size: 2.5rem;
    margin: 0;
}

.arrow-disabled__wrapper {
    background: $light-gray;
    border: 1px solid $light-gray;
}

.arrow-disabled__text {
    font-size: 2.5rem;
    margin: 0;
}
