.footer-content {
    position: relative;
    background: $yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min-content;
}

.reset-button {
    position: absolute;
    top: -18%;
}

.reset-img {
    width: $xl-size;
}

.footer-signature-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $s-size;
    padding-top: $l-size;
    padding-bottom: $s-size;
}

.footer-signature, .footer-date {
    padding-right: $xs-size;
    color: white;
}

.footer-signature {
    margin: $xs-size 0;
}

.footer-date {
    margin-top: 0;
}