.footer-content {
    position: relative;
    background: $yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min-content;
}

.reset-button {
    position: absolute;
    top: -13%;
}

.reset-img {
    width: $xl-size;
    border: 1px solid $dark-gray;
}

.footer-signature-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $l-size;
}

.footer-signature {
    padding-right: $xs-size;
}