.cv-content {
    padding: 10rem 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

embed {
    border: 4px solid $yellow;
}

.cv-error {
    padding: 0 $xxl-size;
    border: 2px solid $yellow;
    border-left: none;
}

